<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.scrodde.nosmoking</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/No Smoking.app/Contents/MacOS/nosmoking</string>
		<string>2014-09-15</string>
		<string>6.0</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Minute</key>
		<string>0</string>
		<key>Hour</key>
		<string>9</string>
	</dict>
</dict>
</plist>
